[Desktop Entry]
Version=1.0
Name=Gmail
Comment=Google Mail
Exec=/home/demper/.config/hypr/scripts/launch-or-focus-pwa-gmail.sh
Terminal=false
Type=Application
Icon=/home/demper/.local/share/applications/icons/Gmail.png
StartupNotify=true
StartupWMClass=ChromiumPWA-Gmail
Categories=Network;Email;
X-GNOME-UsesNotifications=true
