[Desktop Entry]
Version=1.0
Name=Whatsapp
Comment=Whatsapp
Exec=omarchy-launch-webapp "https://web.whatsapp.com"
Terminal=false
Type=Application
Icon=/home/demper/.local/share/applications/icons/Whatsapp.png
StartupNotify=true
