[Desktop Entry]
Version=1.0
Name=WhatsApp
Comment=WhatsApp Web
Exec=/home/demper/.config/hypr/scripts/launch-or-focus-pwa-whatsapp.sh
Terminal=false
Type=Application
Icon=/home/demper/.local/share/applications/icons/Whatsapp.png
StartupNotify=true
StartupWMClass=ChromiumPWA-WhatsApp
Categories=Network;InstantMessaging;
X-GNOME-UsesNotifications=true
